<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sj_ghost_catched.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,325},{186,191}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{186,191}}</string>
			<key>sourceSize</key>
			<string>{186,199}</string>
		</dict>
		<key>sj_ghost_flew.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{186,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,199}}</string>
			<key>sourceSize</key>
			<string>{186,199}</string>
		</dict>
		<key>sj_sleep_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{1,1}}</string>
			<key>offset</key>
			<string>{-139.5,79.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{280,160}</string>
		</dict>
		<key>sj_sleep_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{321,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,161}}</string>
			<key>sourceSize</key>
			<string>{321,161}</string>
		</dict>
		<key>sj_sleep_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,165},{321,155}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{321,155}}</string>
			<key>sourceSize</key>
			<string>{321,161}</string>
		</dict>
		<key>sj_sleep_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,2},{321,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{321,159}}</string>
			<key>sourceSize</key>
			<string>{321,161}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sj_sleep_pack.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:dbe4754bea9bb51897e0436daa88f6fd:1/1$</string>
		<key>textureFileName</key>
		<string>sj_sleep_pack.pvr.ccz</string>
	</dict>
</dict>
</plist>
