<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,350},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>battle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,212},{166,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,200}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
            <key>battle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{170,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,206}}</string>
                <key>sourceSize</key>
                <string>{170,206}</string>
            </dict>
            <key>battle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,208}}</string>
                <key>sourceSize</key>
                <string>{174,208}</string>
            </dict>
            <key>battle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{116,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,176}}</string>
                <key>sourceSize</key>
                <string>{116,176}</string>
            </dict>
            <key>battle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{82,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,160}}</string>
                <key>sourceSize</key>
                <string>{82,160}</string>
            </dict>
            <key>battle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,350},{158,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,138}}</string>
                <key>sourceSize</key>
                <string>{158,138}</string>
            </dict>
            <key>battle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,374},{156,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,130}}</string>
                <key>sourceSize</key>
                <string>{156,130}</string>
            </dict>
            <key>battle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,374},{154,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,132}}</string>
                <key>sourceSize</key>
                <string>{154,132}</string>
            </dict>
            <key>battle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,160},{150,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,144}</string>
            </dict>
            <key>battle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{150,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,156}</string>
            </dict>
            <key>battle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,180},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>battle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,194},{158,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,178}}</string>
                <key>sourceSize</key>
                <string>{158,178}</string>
            </dict>
            <key>battle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{156,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,190}}</string>
                <key>sourceSize</key>
                <string>{156,190}</string>
            </dict>
            <key>battle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{158,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,194}}</string>
                <key>sourceSize</key>
                <string>{158,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab94293e953f3ea9fce9e029a54a59be:1/1$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
