<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,120},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{4,6}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image13.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,82},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{34,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{6,8}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,62},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{10,12}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,22},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{14,16}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{20,22}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,38},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{24,24}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image8.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,34},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{26,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>image9.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{30,32}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>image.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d4b40ae44c9972a37a693ff6a857941:1/1$</string>
            <key>textureFileName</key>
            <string>image.png</string>
        </dict>
    </dict>
</plist>
