<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>petal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1988},{54,624}}</string>
                <key>offset</key>
                <string>{16,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,321},{54,624}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{418,990}}</string>
                <key>offset</key>
                <string>{-10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,136},{418,990}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,996},{408,988}}</string>
                <key>offset</key>
                <string>{-15,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,137},{408,988}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{392,986}}</string>
                <key>offset</key>
                <string>{-19,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,139},{392,986}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{382,984}}</string>
                <key>offset</key>
                <string>{-20,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,139},{382,984}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1698},{320,960}}</string>
                <key>offset</key>
                <string>{22,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,161},{320,960}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,738},{336,958}}</string>
                <key>offset</key>
                <string>{20,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,160},{336,958}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{3586,2},{348,992}}</string>
                <key>offset</key>
                <string>{17,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,123},{348,992}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,728},{340,992}}</string>
                <key>offset</key>
                <string>{22,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,119},{340,992}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2588,2},{348,996}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,116},{348,996}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,2},{356,998}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,114},{356,998}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2552,1674},{236,792}}</string>
                <key>offset</key>
                <string>{-24,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,307},{236,792}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2528,360},{366,948}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,115},{366,948}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,360},{376,938}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,115},{376,938}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{382,956}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,117},{382,956}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,960},{380,954}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,120},{380,954}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,988},{374,1000}}</string>
                <key>offset</key>
                <string>{-6,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,125},{374,1000}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,996},{226,914}}</string>
                <key>offset</key>
                <string>{-40,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,187},{226,914}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,738},{254,916}}</string>
                <key>offset</key>
                <string>{-53,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,186},{254,916}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,738},{270,916}}</string>
                <key>offset</key>
                <string>{-49,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,186},{270,916}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2456,1384},{288,976}}</string>
                <key>offset</key>
                <string>{-45,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,125},{288,976}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2456,1070},{312,972}}</string>
                <key>offset</key>
                <string>{-44,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,127},{312,972}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3522,996},{334,994}}</string>
                <key>offset</key>
                <string>{-42,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,130},{334,994}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
            <key>petal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,992}}</string>
                <key>offset</key>
                <string>{-5,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,133},{422,992}}</string>
                <key>sourceSize</key>
                <string>{638,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>petal.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a852587a9124fb51d9e3ab7c7e178c0:1/1$</string>
            <key>textureFileName</key>
            <string>petal.png</string>
        </dict>
    </dict>
</plist>
