<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>ah_btn_done1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {114, 43}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{114, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 98}, {114, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {112, 37}}</string>
			<key>spriteOffset</key>
			<string>{-3, 7}</string>
			<key>spriteSize</key>
			<string>{112, 37}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 143}, {112, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {112, 43}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{112, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 98}, {112, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {112, 43}}</string>
			<key>spriteOffset</key>
			<string>{-3, 4}</string>
			<key>spriteSize</key>
			<string>{112, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 143}, {112, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {86, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{86, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 53}, {86, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {114, 43}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{114, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 53}, {114, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {114, 43}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{114, 43}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 0}, {114, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{100, 16}, {14, 11}}</string>
			<key>spriteOffset</key>
			<string>{47, 4}</string>
			<key>spriteSize</key>
			<string>{14, 11}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 45}, {14, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ah_btn_done9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 51}</string>
			<key>spriteSourceSize</key>
			<string>{120, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {120, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>ah_btn_done</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>ah_btn_done</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>