<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,328}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,328}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{150,202}}</string>
                <key>offset</key>
                <string>{-78,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{150,202}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{316,274}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{316,274}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{314,258}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{314,258}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,620},{282,240}}</string>
                <key>offset</key>
                <string>{9,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,45},{282,240}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{282,244}}</string>
                <key>offset</key>
                <string>{6,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{282,244}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,332},{286,248}}</string>
                <key>offset</key>
                <string>{3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,35},{286,248}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,650},{288,190}}</string>
                <key>offset</key>
                <string>{1,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{288,190}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,310},{188,190}}</string>
                <key>offset</key>
                <string>{-52,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{188,190}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
            <key>flower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,154},{154,196}}</string>
                <key>offset</key>
                <string>{-73,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,21},{154,196}}</string>
                <key>sourceSize</key>
                <string>{320,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96fcf5a9b4e225e7bd7a6b29d022d4a7:1/1$</string>
            <key>textureFileName</key>
            <string>flower.png</string>
        </dict>
    </dict>
</plist>
