<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,44},{10,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{10,10}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{28,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{28,30}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,70},{32,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{32,34}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,200},{34,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{34,38}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,200},{36,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{36,40}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,200},{40,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{40,44}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,200},{42,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{42,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,138},{46,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{46,52}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,200},{48,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{48,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,194},{48,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{48,58}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,186},{50,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{50,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,32},{10,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{10,12}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,138},{54,62}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{54,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,142},{56,66}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{56,66}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,140},{58,68}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{58,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,138},{60,70}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{60,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,72},{62,74}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{62,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,72},{64,74}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{64,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{66,78}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{66,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,18},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{12,12}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{68,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{68,76}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,72},{68,76}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,70},{68,76}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{68,76}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{68,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{66,76}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{66,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,70},{66,74}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{66,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{12,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{12,14}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,136},{64,72}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{64,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,44},{14,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,36},{14,16}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,24},{18,18}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{18,18}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{20,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,32},{20,22}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,482},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{22,26}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>spot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,482},{26,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,29},{26,28}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spot.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb14e8863434d93df10d8d89267a1dd:1/1$</string>
            <key>textureFileName</key>
            <string>spot.png</string>
        </dict>
    </dict>
</plist>
